.root {
    --ig-font-family: 'Roboto', sans-serif !important;
    font-size: large !important;
    color: blue !important;
}

/* date */
.local-class igc-calendar [part="date"] {
    color: blue;
}
/* header */
.local-class igc-calendar [part="header"] {
    display: none;
}
.local-class igc-calendar [part="header-date"] {
    display: none;
}
.local-class igc-calendar [part="header-title"] {
    display: none;
}
/* important等の直接変更はReactの仕組みに合わない */
.hide-element {
    display: none !important;
}

